<div class="box-cloumn" id="login" [formGroup]="authNForm">
	<mat-form-field>
		<mat-label>門市</mat-label>
		<select matNativeControl formControlName="storeID">
			<option *ngFor="let store of stores" [value]="store.id">{{store.name}}</option>
		</select>
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>帳號</mat-label>
		<input matInput placeholder="Placeholder" formControlName="username">
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>密碼</mat-label>
		<input matInput placeholder="Placeholder" formControlName="password">
	</mat-form-field>

	<button mat-raised-button color="primary" (click)="authN()">登入</button>
</div>