<div mat-dialog-content>
    <div class="field">
        <div>
            <mat-label>聯絡人</mat-label>
            <button mat-button color="primary">查詢</button>
        </div>
        <div>
            <mat-form-field>
                <mat-label>姓名</mat-label>
                <input matInput disabled>
            </mat-form-field>
            <mat-form-field>
                <mat-label>電話</mat-label>
                <input matInput disabled>
            </mat-form-field>
        </div>
    </div>

    <div class="field">
        <mat-label>住宿日期</mat-label>
        <mat-form-field class="example-form-field">
            <mat-date-range-input [formGroup]="campaignOne" [rangePicker]="rangePicker" forma
                [comparisonStart]="campaignOne.value.start" [comparisonEnd]="campaignOne.value.end">
                <input matStartDate placeholder="Start date" formControlName="start" readonly>
                <input matEndDate placeholder="End date" formControlName="end" readonly>
            </mat-date-range-input>
            <mat-date-range-picker #rangePicker></mat-date-range-picker>
            <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
        </mat-form-field>
    </div>

    <div class="field">
        <mat-label>預計接送時間</mat-label>
        <div>
            <mat-form-field>
                <mat-label>出貨</mat-label>
                <input matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label>取貨</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>

    <div class="field">
        <div>
            <mat-label>預約籠位</mat-label>
            <button mat-button color="primary" (click)="addRoom()">新增</button>
        </div>
        <div *ngFor="let room of rooms">
            <mat-form-field>
                <mat-label>Choose an option</mat-label>
                <mat-select>
                    <mat-option value="R1">兔1</mat-option>
                    <mat-option value="R2">兔2</mat-option>
                    <mat-option value="CP1">天1</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field>
                <mat-label>備註哪個寶寶要入住+是否住一起</mat-label>
                <input matInput>
            </mat-form-field>
        </div>
    </div>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onClose()">取消</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>確認</button>
</div>