<div *ngFor="let week of calendar; let i = index;"
	[ngStyle]="{'border-top': i === 0 ? 'solid white' : 'none', 'border-bottom': 'solid white'}">
	<div class="container">
		<div class="resource item">

		</div>
		<div *ngFor="let day of week" class="item">
			<label>
				{{(day.date == "01" ? day.month+"/" : "") + day.date+" ("+day.day+")"}}
			</label>
		</div>
	</div>
	<div *ngFor="let resource of resources;" class="container">
		<div class="resource item">
			<label>
				{{resource.name}}({{resource.id}})
			</label>
		</div>
		<div *ngFor="let day of week" class="item">
		</div>
	</div>
</div>